<?xml version="1.0" encoding="UTF-8"?>
<AcfConfigurationDocument xmlns="http://www.phoenixcontact.com/schema/acfconfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.phoenixcontact.com/schema/acfconfig" schemaVersion="1.0">

  <Libraries>
    <Library name="Demo.Fieldbus.Library" binaryPath="$ARP_PATH_PROJECTS_DIR$/DemoFieldbus/libDemoFieldbus.so" />
  </Libraries>

  <Components>
    <Component name="Demo.Fieldbus" type="DemoFieldbus::DemoFieldbusComponent" library="Demo.Fieldbus.Library" process="PrivilegedProcess">
      <Settings path="$ARP_PATH_PROJECTS_DIR$/DemoFieldbus/DemoFieldbus.settings" />
    </Component>
  </Components>

</AcfConfigurationDocument>
