<?xml version="1.0" encoding="utf-8"?>
<GdsConfigurationDocument xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" schemaVersion="1.0" xmlns="http://www.phoenixcontact.com/schema/gdsconfig">
  <Connectors>
    <Connector startPort="Demo.Fieldbus/1.IN_UINT32" endPort="IoShimComponent1/InputData" />
    <Connector startPort="IoShimComponent1/OutputData" endPort="Demo.Fieldbus/1.OUT_UINT32" />
  </Connectors>
</GdsConfigurationDocument>
