<?xml version="1.0" encoding="utf-8"?>
<PlmConfigurationDocument xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" schemaVersion="1.4" xmlns="http://www.phoenixcontact.com/schema/plmconfig">
  <Libraries>
    <Library name="Pnd" binaryPath="$ARP_PROJECTS_DIR$/Pnd/libPnd.so">
      <Dependencies />
    </Library>
  </Libraries>
  <Components>
    <Component name="PndComponent1" type="Pnd.PndComponent" library="Pnd">
      <Settings path="" />
    </Component>
  </Components>
</PlmConfigurationDocument>