<?xml version="1.0" encoding="utf-8"?>
<GdsConfigurationDocument xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" schemaVersion="1.0" xmlns="http://www.phoenixcontact.com/schema/gdsconfig">
  <ComponentTaskRelations />
  <Connectors>
    <Connector startPort="PndComponent1/PndProgram1.PND_S1_OUTPUTS" endPort="Arp.Plc.Eclr/PND_S1_OUTPUTS" />
    <Connector startPort="Arp.Plc.Eclr/PND_S1_INPUTS" endPort="PndComponent1/PndProgram1.PND_S1_INPUTS" />
  </Connectors>
</GdsConfigurationDocument>