<?xml version="1.0" encoding="utf-8"?>
<EsmConfigurationDocument xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" schemaVersion="1.0" xmlns="http://www.phoenixcontact.com/schema/esmconfig">
  <Tasks>
    <CyclicTask name="MyCyclicTask" stackSize="0" priority="0" cycleTime="100000000" watchdogTime="100000000" executionTimeThreshold="0" />
  </Tasks>
  <EsmTaskRelations>
    <EsmTaskRelation esmName="ESM1" taskName="MyCyclicTask" />
  </EsmTaskRelations>
  <Programs>
    <Program name="PndProgram1" programType="PndProgram" componentName="PndComponent1" />
  </Programs>
  <TaskProgramRelations>
    <TaskProgramRelation taskName="MyCyclicTask" programName="PndComponent1/PndProgram1" order="0" />
  </TaskProgramRelations>
  <TaskEvents />
</EsmConfigurationDocument>