<?xml version="1.0" encoding="UTF-8"?>
<AcfConfigurationDocument
  xmlns="http://www.phoenixcontact.com/schema/acfconfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.phoenixcontact.com/schema/acfconfig.xsd"
  schemaVersion="1.0" >

  <Processes>
    <Process name="DataAccessProcess" settingsPath="$ARP_ACF_SETTINGS_FILE$" />
  </Processes>

  <Libraries>
    <Library name="DataAccess.DataAccessLibrary" binaryPath="./lib/libDataAccess.so" />
  </Libraries>

  <Components>
    <Component name="DummyC1" type="DataAccess::DummyC" library="DataAccess.DataAccessLibrary" />
  </Components>

</AcfConfigurationDocument>