<?xml version="1.0" encoding="UTF-8"?>
<UmConfigurationDocument
   xmlns="http://www.phoenixcontact.com/schema/umconfiguration"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.phoenixcontact.com/schema/umconfiguration"
   schemaVersion="1.0">
   <PermissionDatabase >

       <PermissionSet role="Admin">
          <Permission object="arp.services.notificationlogger/Archive/My_Nm_Logger"         operation="ReadValue"/>
          <Permission object="arp.services.notificationlogger/Archive/My_Nm_Logger"         operation="WriteValue"/>
       </PermissionSet>

   </PermissionDatabase>
</UmConfigurationDocument>
