<?xml version="1.0" encoding="UTF-8"?>
<NotificationDebuggerConfigurationDocument
  xmlns="http://www.phoenixcontact.com/schema/notificationdebuggerconfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.phoenixcontact.com/schema/notificationdebuggerconfig"
  schemaVersion="1.0">

  <LogLevel>Info</LogLevel>
  <Notifications>
    <Notification name="My.NameSpace" />
  </Notifications>

</NotificationDebuggerConfigurationDocument>
